@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #131212;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.wrapper {
  margin: 0 5rem;
}

@media (max-width: 767px) {
  #css {
    width: auto;
  }
  body {
    margin: 3rem 0;
  }
  .wrapper {
    margin: 0;
  }
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(359px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  padding: 0;
  justify-self: end;
}

h1 {
  position: fixed;
  bottom: 2rem;
  right: 7rem;
  z-index: 10;
  color: rgb(97, 95, 95);
  text-transform: uppercase;
  font-size: 40px;
  text-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #49ff18,
    0 0 30px #49ff18, 0 0 40px orange, 0 0 55px #49ff18, 0 0 75px orange;
}
@media (max-width: 767px) {
  h1 {
    left: 5rem;
  }
}

button {
  border-radius: 4px;
  border: none;
  height: 500px;
  max-width: 400px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 30px 30px;
  overflow: scroll;
  /* margin: 10px 0; */
  position: relative;
  -webkit-box-shadow: 5px 5px 15px 5px #525050;
  box-shadow: 5px 5px 15px 5px #525050;
}

button:focus {
  outline: none;
  cursor: pointer;
}

button .circle {
  position: absolute;
  background: radial-gradient(
    ellipse at center,
    #ce5937 0%,
    #61a454 50%,
    #c53150 100%
  );
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.7s ease-out;
}

@keyframes scale {
  to {
    transform: translate3d(100%, 0, 0);
    transform: translate3d(-50%, -50%, 0) scale(4);
    opacity: 0;
  }
}
